* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto Condensed;
}

p {
    font-size: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

img {
    margin: 0;
    padding: 0;
}

input,
textarea {
    background-color: whitesmoke;
    border: 1px dashed black;
}

.contain {
    text-align: center;
    padding: 0.8em, 1.2em, 0.8em, 1.2em;
}

.Logo {
    width: 100px;
    height: 50px;
}

.hide-mobile {
    display: none;
}

.profile {
    width: 200px;
    height: 200px;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    border: 1px dashed black;
    border-radius: 50%;
}

.subhead {
    position: relative;
    z-index: 3;
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 1.2em;
}

.purple-container {
    width: 100%;
    background-color: #9F6BF9;
    color: white;
    margin-top: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.purple-container:before {
    content: "";
    background-color: #9F6BF9;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.purple-container:after {
    content: "";
    z-index: -1;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -80px;
}

.transform {
    transform: skewY(2deg);
}

.grey-container {
    background-color: #797979;
    z-index: 2;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: -3%;
}

.contact-container {
    padding-top: 2em;
    padding-bottom: 1em;
}

.footer-container {
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(207, 204, 204);
}

.github-logo {
    height: 15px;
    width: 15px;
}

.github-logo:hover {
    cursor: pointer;
}

.footer-icon,
.down-arrow {
    height: 20px;
    width: 20px;
}

.form-submit {
    background-color: black;
    color: whitesmoke;
    border-radius: 15px;
    padding: 1%;
    margin: 1%;
}

.form-submit:hover {
    cursor: pointer;
}

.contact-info {
    margin: 1.5em;
}

.form-queries h3 {
    margin: 0.5em
}

.hrule {
    border: 2px solid black;
}

.grey-container .contain h3 {
    position: absolute;
    left: 7%;
    margin-bottom: 0.7em;
    margin-top: -20px;
    padding: 1em;
}

.flex-row {
    display: flex;
}

.skill-item {
    background-color: black;
    color: white;
    height: 5%;
    width: 30%;
    margin: 3%;
    padding: 3%;
}

.github-btn {
    border-radius: 20px;
    text-decoration: none;
    padding: 0.3em;
    margin: 0.7em;
    background-color: black;
    color: white;
}

.down-arrow {
    animation: scroll 1s infinite alternate;
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(20px);
    }
}

.box {
    background-color: #2A2B2B;
    margin: 2%;
    padding: 2%;
    width: 40%;
    color: white;
    text-align: left;
}

.menu {
    width: 25px;
    margin-top: 45%;
    transform: translateX(-20px);
}

.education h3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5em;
    margin-bottom: 2em;
    font-size: 22px;
}

.about--me h2 {
    padding: 1.5em;
    position: fixed;
}

.spacing {
    margin-top: 2em;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

nav ul {
    position: fixed;
    width: 35%;
    top: 0;
    right: 0;
    text-align: left;
    background-color: rgb(36, 41, 44);
    height: 100%;
    z-index: 6;
    padding-top: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    display: block;
    width: 100%;
    background-color: rgb(56, 68, 75);
}

nav ul li a:hover {
    background-color: rgb(153, 153, 153);
    color: black;
}


/*Media Queries start*/

@media only screen and (min-width:450px) {
    .contact-container .contain {
        display: flex;
    }
    .contact-info {
        position: absolute;
        right: 0;
        text-align: left;
    }
}

@media only screen and (min-width:720px) {
    .box {
        width: 35%;
        font-size: 1em;
    }
    .education h3 {
        font-size: 27px;
    }
    .spacing {
        margin-top: 3em;
    }
    .about--me {
        display: flex;
    }
    .about--me p {
        padding: 3%;
        text-align: left;
        flex-direction: column;
    }
    .heading {
        margin: 5%;
    }
    .grey-container .contain h3 {
        position: absolute;
        left: 7%;
        margin-bottom: 1em;
        margin-top: -1em;
        padding: 1.5em;
    }
}

@media only screen and (min-width:1024px) {
    .form-queries {
        width: 30%;
        transform: translateX(150px);
    }
    .contact-info {
        width: 300px;
        height: 20%;
        position: absolute;
        right: 10%;
        transform: translateX(-100px);
    }
    nav ul {
        position: inherit;
        background: none;
        width: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: left;
        padding: 1em 2em;
    }
    nav ul li a:hover {
        background-color: inherit;
    }
    .contact-info p {
        padding: 0.5em;
    }
    .form-queries input,
    textarea {
        width: 300px;
    }
    textarea {
        height: 75px;
    }
    .box {
        width: 30%;
        font-size: 1.2em;
    }
    .education h3 {
        font-size: 30px;
    }
    .hide-desktop {
        display: none;
    }
    .show-desktop {
        display: block;
    }
    .scroll {
        display: inline-block;
        height: 150px;
        width: 70px;
        animation: move 1s infinite linear;
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(40px);
    }
}